
@import 'bourbon/bourbon';

.header{
background-image:url("../images/header.png");
height: 32px;
}

.top_menu{
background-image:url("../images/top_menu.png");
height: 88px;
width: 553px;
float: right;
clear: both;
margin-right: 135px;
}



.container{
  margin-top: 20px;
  width: 980px;
  margin-right: auto;
  margin-left: auto;
  box-sizing:border-box;
}


  
.left_column {
height: 437px;
width: 204px;
float: left;
padding-left: 10px;
padding-right: 10px;
box-sizing: border-box;
margin-left: 179px;
}

.my_image{
float: left;
width: 175px;
}

h1{
display: block;
overflow: hidden;
width: 100%;
font-size: 19px;
text-overflow: ellipsis;
color: #333333;
margin: 0;
}

.login{
display: block;
overflow: hidden;
width: 100%;
font-size: 15px;
font-style: normal;
font-weight: 300;
color: #666;
text-overflow: ellipsis;
margin: 0;
}

.contact{
list-style-type: none;
padding-top: 15px;
padding-bottom: 15px;
border-top: 1px solid #eee;
padding: 0;
margin-top: 0;
margin-bottom: 0;
width: 192px;
}

.email_container{
list-style-type: none;
}
.mail{
float: left;
width: 16px;
text-align: center;
/* margin-left: -24px; */
color: #ccc;
padding-top: 8px;

}
.right_column{
float: left;
padding-right: 10px;
list-style-type: none;
}

.right_column_content{
  margin-top: 0px;
margin-bottom: 0px;
}
.repo_name{
color: #4183c4;
text-decoration: none;
font-size: 16px;
line-height: 54px;
margin-top: 0;
margin-bottom: 0;
white-space: nowrap;
font-weight: bold;
border-top: 1px solid #eee;
width: 546px;
}
.book{
color:black;
font: normal normal 24px octicons;
line-height: 1;
display: inline-block;
text-decoration: none;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
display: inline-block;
float: left;
padding-top: 15px;
color: lightgray;
margin-right: 10px;
}
.email_link{
list-style-type: none;
padding-top: 15px;
padding-bottom: 15px;
border-top: 1px solid #eee;
padding: 0;
margin-top: 0;
margin-bottom: 0;
width: 192px;
}
.gmail{
font-size: 11px;
padding-left: 18px;
padding-top: 10px;
color: #4183c4;
text-decoration: u;
text-decoration: underline;
}
.octicon-clock{
  color: lightgray;
font-size: 12px;
float: left;
clear: both;
padding-left: 2px;
padding-top: 5px;
}
.joined{
font-size: 11px;
float: left;
padding-left: 5px;
padding-top: 5px;
color: black;
}
.more_info{
list-style-type: none;
padding-top: 15px;
padding-bottom: 15px;
border-top: 1px solid #eee;
padding: 0;
margin-top: 0;
margin-bottom: 0;
width: 192px;
float: left;
clear: both;
margin-top: 10px;
}
.followers{
color: black;
font-size: 23px;
font-weight: bold;
float: left;
padding-top: 5px;
padding-left: 12px;
}
.followers_text{
float: left;
clear: both;
font-size: 10px;
color: grey;
margin: 0;
word-spacing: 20px;
}
.starred{
float: left;
padding-top: 4px;
padding-left: 50px;
color: black;
font-size: 23px;
font-weight: bold;
}
.following{
float: left;
padding-top: 4px;
padding-left: 50px;
color: black;
font-size: 23px;
font-weight: bold;
}
.fork_count{
float:right;
font-size: 10px;
color: black;
}