<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>github_replica</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/octicons.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
    

  </head>
  <body>
  <div class="header"></div>
  <div class="top_menu"></div>      
  <div class="container">
    <div class="left_column">
        <div class="pi"></div>
        <img></img>
        <h1></h1>
        <p ></p>
        <ul class="contact">
        <a class="email_link" href="mailto:daniels.joshua100@gmail.com">
            <img src="../images/mail.png" class="mail"/>

     
        </a>
        <li class="more_info">
        </li>
        </ul>

        <!-- <li class="email_container"></li> -->
        
        
        



















    </div>
  </div>
  <div class="right_column">
  <ul class="right_column_content">
  </ul>
 









  </div>
    <script class="template" type="text/template">
   <img src="<%= avatar_url %> ", class="my_image"></img> 
   <h1><%= name %></h1>
   <p class="login"><%= login %></p>

   






    </script>
    <script class="template2" type="text/template">
    <span class="mega-octicon octicon-repo book"></span>
    <div class="repo_name">
    <span class="repo_name_text"><%= name %></span>
    <span class="fork_count"><%= forks_count %></span>
    <span class="octicon octicon-git-branch"></span>
    <span class="stargazer"><%= stargazers_count %></span>
    <span class="octicon octicon-star"></span>
    <span class="languages">css or JavaScript</span>
     </div>
     
        
        
    
    









    </script>

    <script class="template3" type="text/template">
    <li class="gmail"><%= email %></li>
    <span class="octicon octicon-clock"></span>
        <span class="joined">Joined on June 3 2014</span>
        <li class="more_info">
   <span class="followers"><%= followers %></span>
   <span class="starred"><%= public_gists %></span>
   <span class="following"><%= following %></span>
   <p class="followers_text">Followers Starred Following</p>

   











    </script>
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js scripts/main.js -->
        <script src="scripts/secret.js"></script>
        <script src="scripts/main.js"></script>
        

        <!-- endbuild -->
</body>
</html>
